<p>Hi,</p>

<p>You have a new conversation on your deck "<%= @conversation.deck.name %>".</p>

<p>Login to the keyforge-compendium to <%= link_to "view the conversation and reply", conversation_url(@conversation) %>.</p>

<p>Regards from the KFC Robo</p>
