<p>Hi,</p>

<p>You have received a new reply on your conversation on deck "<%= @message.conversation.deck.name %>".</p>

<p>Login to the keyforge-compendium to <%= link_to "view the message and reply", conversation_url(@message.conversation) %>.</p>

<p>Regards from the KFC Robo</p>
