@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,600,700');

html {
  font-size: 62.5%;
}

body {
  margin:0;
  color: $text;
  font-size: 1.6rem;
  line-height: 1.5;
  position:relative;
  height:100vh;
  width:100%;
  background: $background;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

input,
textarea,
button,
body {
  font-family: 'Raleway', sans-serif;
  font-size:1.4rem;
  font-weight:600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin:0 0 2rem;
  color:#FFF;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  font-weight:600;
  color:$link;
  transition:.2s all;

  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: underline;
    color:lighten($link, 15%);
  }
}
