$primary: #da4d5b;
$secondary: #2B3240;
$amber: #FED03D;

$background:#171C25;
$navigation:#1F242F;
$card-bg:#2B323F;
$theme-info: #3e455d;
$border: lighten($secondary, 10%);
$placeholder: rgba(255,255,255, .2);
$text: #9aa0ab;
$text-muted: #697079;
$link:#FFFFFF;

$error: #F0465F;
$success: #43BB78;
$info: #36486b;

// Houses
$logos: #9BE0F2;
$dis: #FF1677;
$shadows: #AB9690;
$brobnar: #E18933;
$sanctum: #FFF26C;
$mars: #AAC43B;
$untamed: #D7391E;

$max-width:110rem;