&__rules {
  margin:3rem auto 0;
  max-width:$max-width;
  clear: both;
  display: block;

  &__glossary {
    width:100%;

    .rules-search {
      margin:0 0 1rem;
      padding:0 0 1rem;
      border-bottom:1px solid rgba(255,255,255, .1);
      display: flex;

      i {
        display:block;
        width:4.5rem;
        height: 4.5rem;
        float: right;
        margin-left: 1rem;
        text-align:center;
        line-height: 4.5rem;
        border: 1px solid rgba(255,255,255, .1);
        border-radius:.2rem;
      }

      input {
        flex: 1;
      }
    }

    ul {
      margin:0 0 2rem;
      padding:0 0 1rem;
      overflow: hidden;
      border-bottom:1px solid rgba(255, 255, 255, .1);
      display:none;

      &.visible {
        display:block;
      }

      li {
        list-style-type:none;

        a {
          display:block;
          padding:.3rem 0 .3rem 2rem;
          line-height: 2.2rem;
          float:left;
          width:100%;
          font-weight: 600;
          font-size:1.4rem;
          color: rgba(255,255,255, .6);
          position:relative;

          &:before {
            content: "\f105";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            color: $primary;
            font-size: 1.2rem;
            position: absolute;
            left: 0;
            top:0;
            line-height: 2.2rem;
            padding:.3rem 0 .3rem .5rem;
          }

          &:hover {
            text-decoration: none;
            color:#FFF;
          }
        }

        &:last-child a {
          border-bottom:0;
        }

        &.hidden {
          display:none;
        }
      }
    }
  }

  &__content {
    width:100%;
    margin:0 0 2rem;
    padding:0;
    border:none;
    overflow: hidden;

    .results {
      float:left;
      width:100%;
      background: $success;
      color:#FFF;
      font-weight: 400;
      text-align:center;
      line-height: 4.5rem;
      margin:0 0 2rem;
      font-size: 1.4rem;
      border-radius:.2rem;

      strong {
        font-weight:700;
        text-transform: capitalize;
      }

      &.no-results {
        background: $error;
      }

      &:empty {
        margin:0;
      }
    }

    .kfc-rule {
      border-bottom: 1px dashed rgba(255,255,255, .1);
      margin: 0 0 2rem;
      float:left;
      width:100%;
      overflow: hidden;
      display:block;
      padding: 1rem 0 2rem;

      > h3 {
        font-size:2.4rem;
        font-weight:500;
      }

      h5 {
        overflow:hidden;
        position:relative;

        i {
          opacity: .5;
          font-size: 1.4rem;
          line-height: 2.4rem;
          margin-right: .5rem;
          cursor:pointer;
          transition:.2s opacity;

          &:hover {
            opacity:1;
          }
        }

        .clipboard-input {
          position:absolute;
          top:0;
          left:-9999px;
        }
      }

      .kfc__faqs__qa {
        margin: 2rem 0 1rem;

        h5 {
          border-left: 1px solid #FFF;
          background: none;
          border-radius: 0;
          font-size: 1.4rem;
          padding: 1rem 7rem 1rem 2rem;
        }

        > div {
          background:none;
          border: 1px dashed rgba(255,255,255, .1);
        }

        p {
          font-size:1.4rem;
        }
      }

      &.hidden {
        display:none;
      }

      &:last-child {
        border-bottom:0;
        padding-bottom:0;
        margin-bottom:0;
      }
    }
  }

  @include breakpoint(sm) {
    display:flex;

    &__glossary {
      min-width: 25rem;
      border:none;
      margin:0;
      padding:0;
      width: 25rem;

      .rules-search {
        padding:0 0 2rem;
        margin:0 0 2rem;
        i {
          display: none;
        }
      }

      ul {
        display:block;
        float: left;
        width:100%;
        padding:0 0 2rem;
      }
    }

    &__content {
      flex:1;
      width:auto;
      margin: 0 0 3rem 3rem;
      padding-left: 3rem;
      border-left: 1px solid rgba(255, 255, 255, .1);
    }
  }
}